<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:u="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <h:form>
            <p> Username: <u:inputText value="#{user.username}"/></p>
            <p> Password: <u:password value="#{user.password}"/></p>
            <p><h:commandButton value="Register" actionListener="#{user.register(user.username, user.password)}"/></p>
            <p> OR </p>
            <p><h:commandButton value="Login" actionListener="#{user.callLoginWS(user.username, user.password)}"
                                action="user_books.xhtml?faces-redirect=true"/></p>
        </h:form>
    </h:body>
</html>

