<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:u="http://primefaces.org/ui">
    <h:head>
        <title> User's book list </title>
    </h:head>
    <h:body>
        <p> #{user.username} BOOKS LIST </p>
        <h:form>
            <p> Add a book: </p>
                <p> Title: <u:inputText value="#{book.title}"/>  
                    Author:<u:inputText value="#{book.author}"/>  
                    Commentary: <u:inputTextarea value="#{book.commentary}"/> 
                    <u:commandButton 
                        actionListener="#{book.callAddBookWS(book.title, book.author, book.commentary, user.username)}" 
                        value="Add book"
                        action="user_books.xhtml?faces-redirect=true"/> 
                </p>
        </h:form>
        <h:form>
            <h:dataTable value = "#{book.callGetBooksWS(user.username)}" var = "books"
                    styleClass = "bookTable"
                    headerClass = "bookTableHeader"
                    rowClasses = "bookTableOddRow,bookTableEvenRow">

                <h:column>
                    <f:facet name = "header">Title</f:facet>		
                   #{books.title}
                </h:column>

                <h:column>
                   <f:facet name = "header">Author</f:facet>
                   #{books.author}
                </h:column>

                <h:column>
                   <f:facet name = "header">Commentary</f:facet>
                   #{books.commentary}
                </h:column>
                <h:column>
                    <h:commandButton actionListener="#{book.callDeleteBookWS(books.title)}" value="DELETE"/>
                </h:column>
             </h:dataTable>
        </h:form>
    </h:body>
</html>

